<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/styles.css"/>
    <script src="../public/JavaScript/tutor.js"></script>
    <title>Tutor Page</title>
</head>
<body>
<div>
      <%- include('partials/navbar') %>
</div>
      <div class="row">
            <div class="offset-md-3 col-md-6 col-sm-12">
                  <div class="profile" id="main-content">
                  <h2>Tutor</h2>
      
                        <div id="tutorPage">
                              <p>Welcome to the tutor page.</p>
                              <% meetingList.forEach(function(meeting){ %>
                                    <table border="1">
                                          <% meeting.Meeting.forEach(function(meetingItem){ %>
                                          <tr><p id="{{meeting.username}}"><%= meeting.username %></tr>
                                          <tr><p id="{{meetingItem.tutorname}}"><%= meetingItem.tutorname %></tr>
                                          <tr><p id="{{meetingItem.course}}"><%= meetingItem.course %></tr>
                                          <tr><p id="{{meetingItem.name}}"><%= meetingItem.name %></tr>
                                          <tr><p id="{{meetingItem.desciption}}"><%= meetingItem.desciption %></tr>
                                          <tr><p id="{{meetingItem.time}}"><%= meetingItem.time %></tr><br><br><br>
                                          <% }) %>
                                    </table>
                              <% }) %>
                              
                              
                                </table>
                        </div>
                  </div>
            
            </div>
      </div>
<div>
      <%- include('partials/footer') %>
</div>
</body>
</html>